<footer id="colophon" class="container">
    <div class="sixteen columns footer-area">
        <div class="region region-footer-first">
            <div id="block-block-3" class="block block-block">
                <div class="block-inner clearfix">
                    <div class="block-content">

                    </div>
                </div>
            </div>
            <p>Copyright © {{ site.conference.year }}, The {{ site.conference.number }}th International Conference on
                Knowledge Engineering and Semantic Web ({{ site.conference.shortname }}) </p>
        </div>
    </div>
</footer>
