<header id="head" role="banner" class="container">
    <hgroup class="eleven columns alpha">
        <div id="logo">
            <a href="{{ site.url }}" title="{{ site.name }}">
                <img id="logo-img" src="{{ site.url }}/resources/kesw_logo.png" alt="{{ site.name }}"/>
            </a>
        </div>

        <div id="site-title-wrapper">
            <h1 id="site-title"><a href="{{ site.url }}" title="Home">{{ site.conference.shortname }}</a></h1>
            <div class="site-slogan">International Conference on Knowledge Engineering<br/> and Semantic Web, Szczecin,
                Poland, Nov 08 - Nov 10, 2017
            </div>
        </div>
    </hgroup>
    <div id="top-links" class="five columns omega">
        <div class="region region-top-links">
            <div id="block-block-1" class="block block-block">
                <div class="block-inner clearfix">
                    <div class="block-content">
                        <p>
                            <a href="https://twitter.com/keswconference" class="twitter-follow-button" data-show-count="false">
                                Follow @keswconference</a>
                        </p>
                        <p>
                            <a href="//www.youtube.com/subscription_center?add_user_id=TB-l0N7JFZV2hniUQaWS8Q&amp;feature=creators_cornier-//s.ytimg.com/yt/img/creators_corner/Subscribe_to_my_videos/YT_Subscribe_123x19_red.png"><img
                                    src="//s.ytimg.com/yt/img/creators_corner/Subscribe_to_my_videos/YT_Subscribe_123x19_red.png"
                                    alt="Subscribe to me on YouTube"/></a><img
                                src="//www.youtube-nocookie.com/gen_204?feature=creators_cornier-//s.ytimg.com/yt/img/creators_corner/Subscribe_to_my_videos/YT_Subscribe_123x19_red.png"
                                style="display: none"/>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
