<aside id="sidebar-first" role="complementary" class="sidebar five columns">
    <div class="region region-sidebar-first">
        <div id="block-block-2" class="block block-block">
            <div class="block-inner clearfix">
                <div class="block-content">
                    <center>
                        <!--Sponsors-->
                        <!--
                        <h3>Platinum Sponsors</h3>


                        <h3>Gold Sponsors</h3>
                        </br>
                        
                        <div>
                            <a href="http://datlowe.org/"><img width="60%" src="{{ site.url }}/resources/datlowe_logo.png"/></a>
                        </div>
                        
                        </br>
                        
                        <div>
                            <a href="http://www.sti2.org/"><img width="85%" src="{{ site.url }}/resources/sti-logo.png"/></a>
                        </div>

                        <hr/>

                        <h3>Silver Sponsors</h3>
                        </br>
                        
						<div>
						    <a href="http://www.metaphacts.com/"><img width="60%" src="{{ site.url }}/resources/metaphacts_logo.png"/></a>
					    </div>

                        <br/>
                        -->
                        <!--<hr/>-->
                        <a href="{{ site.url }}/becomeasponsor"><b>» Become a Sponsor</b></a>
                        <hr/>
                        <!--Twitter Timeline-->
                        <a class="twitter-timeline" href="https://twitter.com/keswconference"
                           data-widget-id="474977736700604417" data-chrome="nofooter noborders transparent"
                           data-show-replies="false">Tweets by @keswconference</a>
                        <hr/>
                        <!--Organizers-->
                        <h3>Organizers</h3>
                        <!--
                        <a href="https://www.fel.cvut.cz/en/" target="_blank">
                            <img src="{{ site.url }}/resources/logo_ctu.jpg" style="margin-top: 1em" width="45%"
                                 title="Czech Technical University in Prague, Faculty of Electrical Engineering"
                                 alt="Czech Technical University in Prague, Faculty of Electrical Engineering"/>
                        </a>
                        <br />
                        <a href="http://en.ifmo.ru" target="_blank">
                            <img src="{{ site.url }}/resources/logo_itmo.png" style="margin-top: 1em" width="60%"
                                 title="ITMO University" alt="ITMO University"/>
                        </a>
                        -->
                    </center>
                </div>
            </div>
        </div>
    </div>
</aside>
