<aside id="sidebar-first" role="complementary" class="sidebar five columns">
    <div class="region region-sidebar-first">
        <div id="block-block-2" class="block block-block">
            <div class="block-inner clearfix">
                <div class="block-content">
                    <center>
                        <!--Sponsors-->
                        <!--
                        <h3>Platinum Sponsors</h3>
                        -->

                        <h3>Gold Sponsors</h3>
                        </br>
                        
                        <div>
                            <a href="http://www.sti2.org/"><img width="80%" src="{{ site.url }}/resources/logo_sti.png"/></a>
                        </div>

                        <h3>Silver Sponsors</h3>
                        </br>
                        
			            <div>
                            <a href="https://www.akaene.com/"><img width="75%" src="{{ site.url }}/resources/logo_akaene.png"/></a>
                        </div>
                        <br/>
                        
                        <div>
                            <a href="http://vismart.biz/"><img width="60%" src="{{ site.url }}/resources/logo_vismart.png"/></a>
                        </div>
                        <br/>

                        <div>
                            <a href="https://slidewiki.org/"><img width="60%" src="{{ site.url }}/resources/logo_slidewiki.png"/></a>
                        </div>
                        <br/>
                        
                        <hr/>

                        <a href="{{ site.url }}/becomeasponsor"><b>» Become a Sponsor</b></a>

                        <hr/>

                        <!--Twitter Timeline-->
                        <a class="twitter-timeline" href="https://twitter.com/keswconference"
                           data-widget-id="474977736700604417" data-chrome="nofooter noborders transparent"
                           data-show-replies="false">Tweets by @keswconference</a>
                        <hr/>
                        <!--Organizers-->
                        <h3>Organizers</h3>

                        <a href="http://www.zut.edu.pl" target="_blank">
                            <img src="{{ site.url }}/resources/logo_zut.png" style="margin-top: 1em" width="95%"
                                 title="West Pomeranian University of Technology in Szczecin"
                                 alt="West Pomeranian University of Technology in Szczecin"/>
                        </a>
                        <br />
                        <a href="https://www.uni-bonn.de" target="_blank">
                            <img src="{{ site.url }}/resources/logo_bonn.svg" style="margin-top: 1em" width="65%"
                                title="University of Bonn" alt="University of Bonn"/>
                        </a>
                        <br />
                        <a href="http://ifmo.ru" target="_blank">
                            <img src="{{ site.url }}/resources/logo_itmo.png" style="margin-top: 1em" width="70%"
                                 title="ITMO University" alt="ITMO University"/>
                        </a>

                    </center>
                </div>
            </div>
        </div>
    </div>
</aside>
